{% extends "base.html" %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}

                <!-- ============================================================== -->
                <!-- Blog home 4  -->
                <!-- ============================================================== -->
                <div class="blog-home4 spacer bg-light">
                    <div class="container">
                        {{ flatpage.content }}
                    </div>      
                </div>
                
                <!-- ============================================================== -->
                <!-- End Blog home 4  -->
                <!-- ============================================================== -->


{% endblock %}