{% extends "base.html" %} 
{% load thumbnail %}
{% load static %}

{% block title %} {{ book.title }} - {{ book.author }} {% endblock %}
{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ post.body | truncatewords:150 }}">
<meta name="author" content="{{ post.author }}">
<meta property="og:type"   content="article" /> 
<meta property="og:title"  content="{{ post.title }}" /> 
<meta property="og:image"  content="http://zyjswiadomie.eu{{ post.image.url }}" /> 
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="800" />
<meta property=”og:description” content="{{ post.body|truncatewords:30 }}" />
<meta property=”og:url” content="http://zyjswiadomie.eu{{post.get_absolute_url}}" />
{% endblock %}
{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}
{% block content %}  
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


                    <div class="container">
                        <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 mb-5">
                                    {% thumbnail book.image "300" as im %}
                                    <img src="{{ im.url }}" class="img-responsive">
                                         {% endthumbnail %}
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <h3 class="mb-2 mt-2"> {{ book.title }} </h3>
                                    <p> {{ book.summary }} </p>

                                                     <footer>
                                <p class="entry-with-avatar mt-3">
                                    <span class="entry-author">
                                     <span class="entry-meta-label"></span> <strong class="name">Autor: {{ book.author }}</strong>
                                        <a href="{{ book.author.get_absolute_url }}" title="{{ book.author }}" rel="author">
                                            {% thumbnail book.author.photo "150x150" crop="center" as im %}
                                            <img alt="" src="{{ im.url }}" width="30" height="30">
                                            {% endthumbnail %}
                                        </a>
                                    </span>

                                </p>
                            </footer>
                                <p>Liczba książek autora: {{ book.author.get_books_count }}</p>

                                {% if request.user.is_authenticated %}
                                    <button data-id="{{ book.id }}" data-type="book" data-action="like" title="Like" type="button" class="btn btn-sm btn-danger"><i class="fa fa-heart"></i> Lubię to! <span data-count="like">{{ book.votes.likes.count }}</span></button>
                                {% else %}
                                    <button type="button" class="btn btn-sm btn-danger" data-container="body" data-toggle="popover" data-placement="top"
                                       data-content="Musisz się zalogować lub zarejestrować, aby polubić tą książkę. Kliknij przycisk zaloguj w prawym górnym rogu aby zobaczyć korzyści z rejestracji.">
                                <i class="fa fa-heart"></i> Lubię to!
                                </button>
                                {% endif %}
                                </p>
                                    {% for tag in book.tags.all %}
                                       Tagi: <a class="label label-light-success" href="">{{ tag.name }}</a>
                                    {% endfor %}
                                                                                     <footer>
                                <p class="entry-with-avatar mt-3">
                                    <span class="entry-author">
                                     <span class="entry-meta-label"></span> <strong class="name">Dodana przez: {{ book.added_by }}</strong>
                                        <a href="#" title="{{ book.added_by }}" rel="author">
                                            {% thumbnail book.added_by.profile.photo "150x150" crop="center" as im %}
                                            <img alt="" src="{{ im.url }}" width="30" height="30">
                                            {% endthumbnail %}
                                        </a>
                                    </span>
                                    <time class="entry-date" datetime="2018-12-13T02:06:49" title="December 13, 2018, 2:06 am">Dodano: {{ book.created_at|timesince }}</time>
                                </p>
                            </footer>
                                </div>
                            </div>

                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Team 4  -->
                <!-- ============================================================== -->
            </div>
        </div>


{% endblock %}