{% extends "base.html" %}
{% block title %} Cytaty {% endblock %}

{% block content %}
{% load thumbnail %}
                

               <!-- ============================================================== -->
                <!-- Blog home 4  -->
                <!-- ============================================================== -->
            <div class="blog-home4 spacer bg-light">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center">
                            <!-- Column -->
                            <div class="col-md-8 text-center">
                                <h2 class="title">Najnowsze książki</h2>
                                <h6 class="subtitle">Książki, które warto przeczytać dodane przez społeczność Żyj świadomie.</h6>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                        </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-12">
                    {% for book in books %}
                            <!-- Column -->
                            <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
                            {% thumbnail book.image "200" as im %}
                                <a href="{{ book.get_absolute_url }}"><img class="card-img-top" src="{{ im.url }}" alt="wrappixel kit"></a>
                            {% endthumbnail %}    
                                <div class="p-30">
                                    <div class="d-flex no-block font-13">
                                        <span class="">{{ book.published | timesince }}</span>
                                        <a href="#" class="link ml-auto">{{ book.added_by }}</a>
                                    </div>
                                    <h5 class="font-medium m-t-20"><a href="#" class="link">{{ book.title }}</a></h5>
                                    <div class="card-text m-b-2">{{ book.summary | truncatewords:30 }}</div>
                                    <div class="d-flex no-block font-13">
                                        <a href="#" class="text-success text-uppercase">Autor: {{ book.author }}</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                        {% endfor %}
                    </div>
                      </div>
                    </div>
                    
                    

                </div>
                <!-- ============================================================== -->
                <!-- End Blog home 4  -->
                <!-- ============================================================== -->
{% endblock %}