{% load thumbnail %}
{% load static %}
                    <!-- Post -->
            <div class="ui-block">        
                    <article class="hentry post has-post-thumbnail shared-photo">
                    
                            <div class="post__author author vcard inline-items">
                                {% thumbnail activity.actor.profile.photo "100x100" crop="center" as im %}
                                <img src="{{ im.url }}" alt="author">
                                {% endthumbnail %}
                                <div class="author-date">
                                    <a class="h6 post__author-name fn" href="02-ProfilePage.html">{{ activity.actor.username }}</a> dodał cytat
                                    <a href="{{ activity.object.get_absolute_url }}">{{ activity.object.quote|truncatewords:5 }}</a>
                                    <div class="post__date">
                                        <time class="published" datetime="2017-03-24T18:18">
                                          <small>{{ activity.object.created_at | timesince }}</small>
                                        </time>
                                    </div>
                                </div>
                    
                                <div class="more">
                                    <svg class="olymp-three-dots-icon">
                                        <use xlink:href="{% static "svg-icons/sprites/icons.svg" %}#olymp-three-dots-icon"></use>
                                    </svg>
                                    <ul class="more-dropdown">
                                        <li>
                                            <a href="#">Edit Post</a>
                                        </li>
                                        <li>
                                            <a href="#">Delete Post</a>
                                        </li>
                                        <li>
                                            <a href="#">Turn Off Notifications</a>
                                        </li>
                                        <li>
                                            <a href="#">Select as Featured</a>
                                        </li>
                                    </ul>
                                </div>
                    
                            </div>

                            <blockquote>{{ activity.object.quote }}
                            <footer class="blockquote-footer">{{ activity.object.author }}</footer>
                            </blockquote>

                    
                            <div class="post-additional-info inline-items">


                                <a href="#" class="post-add-icon inline-items" data-id="{{ activity.object.id }}" data-type="quote" data-action="like" title="Like">
                                    <svg class="olymp-heart-icon">
                                        <use xlink:href="{% static "svg-icons/sprites/icons.svg" %}#olymp-like-post-icon"></use>
                                    </svg>
                                    <span data-count="like">{{ activity.object.votes.likes.count }}</span>
                                </a>
                    
                                <ul class="friends-harmonic">
                                    <li>
                                        <a href="#">
                                            <img src="img/friend-harmonic5.jpg" alt="friend">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/friend-harmonic10.jpg" alt="friend">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/friend-harmonic7.jpg" alt="friend">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/friend-harmonic8.jpg" alt="friend">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/friend-harmonic2.jpg" alt="friend">
                                        </a>
                                    </li>
                                </ul>
                    
                                <div class="names-people-likes">
                                    <a href="#">Diana</a>, <a href="#">Nicholas</a> and
                                    <br>13 more liked this
                                </div>
                    
                                <div class="comments-shared">
                                    <a href="#" class="post-add-icon inline-items">
                                        <svg class="olymp-speech-balloon-icon">
                                            <use xlink:href="{% static "svg-icons/sprites/icons.svg" %}#olymp-speech-balloon-icon"></use>
                                        </svg>
                                        <span>0</span>
                                    </a>
                    
                                    <a href="#" class="post-add-icon inline-items">
                                        <svg class="olymp-share-icon">
                                            <use xlink:href="{% static "svg-icons/sprites/icons.svg" %}#olymp-share-icon"></use>
                                        </svg>
                                        <span>16</span>
                                    </a>
                                </div>
                    
                            </div>
                    
                            <div class="control-block-button post-control-button">
                    
                                <a href="#" class="btn btn-control">
                                    <svg class="olymp-like-post-icon">
                                        <use xlink:href="{% static "svg-icons/sprites/icons.svg" %}#olymp-like-post-icon"></use>
                                    </svg>
                                </a>
                    
                                <a href="#" class="btn btn-control">
                                    <svg class="olymp-comments-post-icon">
                                        <use xlink:href="{% static "svg-icons/sprites/icons.svg" %}#olymp-comments-post-icon"></use>
                                    </svg>
                                </a>
                    
                                <a href="#" class="btn btn-control">
                                    <svg class="olymp-share-icon">
                                        <use xlink:href="{% static "svg-icons/sprites/icons.svg" %}#olymp-share-icon"></use>
                                    </svg>
                                </a>
                    
                            </div>
                    
                        </article>
                    
                    <!-- .. end Post -->                </div>
                    </div>